#to copy the sla-service.war to the tomcat directory
#if the path doesn't exist, it will be created
tomcat.directory = C:/AtosSLA/installed/apache-tomcat-7.0.52/webapps

#to configure the access to the database
db.username = atossla
db.password = _atossla_
db.name = atossla
db.host = localhost
db.port = 3306
db.showSQL = true

#for eu.atos.sla a different file is generated. it will be generated at  log.slaatos.fullpathFilename
#another file with all the logs, hibernate, spring, etc, is generated at log.thirdpartysw.fullpathFilename
#the location of this file must be specified here
log.slaatos.fullpathFilename = c:/log/atosSLAfile.log
log.slaatos.debugLevel = ALL
log.thirdpartysw.fullpathFilename = c:/log/atosSLAfullfile.log
log.thirdpartysw.debugLevel = INFO

#sla-enforcement
#configure the classes that will validate and retrieve the data from 3rd party software to monitor
#cron job and the poll interval is also configured 
enforcement.constraintEvaluator.class = eu.atos.sla.evaluation.constraint.simple.SimpleConstraintEvaluator
enforcement.metricsRetriever.class = eu.seaclouds.sla.retriever.BrooklynMetricsRetrieverV1
enforcement.poll.interval.mseconds = 10000
enforcement.spawnlookup.cron = 30 * * * * *
enforcement.notification.class = eu.atos.sla.notification.DummyEnforcementNotifier

#security
#configure user and password to access to the rest services
#basic security is used
service.basicsecurity.user = user
service.basicsecurity.password = password


#xml and json parsers
#please, set the values to  eu.atos.sla.parser.NullParser if no parser has to be used for json.
#implemented json parsers:  eu.atos.sla.parser.json.AgreementParser,  eu.atos.sla.parser.json.TemplateParser
#implemented xml parsers:   eu.atos.sla.parser.xml.AgreementParser,   eu.atos.sla.parser.xml.TemplateParser
#if eu.atos.sla.parser.NullParser is set for the xml parsers, the above mentioned default parsers will be used. The SLA core allways accepts
#templates and agreements in xml format. In case of json it is possible to set the parser to null. In such a case nothing will be executed
parser.json.agreement.class = eu.atos.sla.parser.json.AgreementParser
parser.json.template.class = eu.atos.sla.parser.json.TemplateParser
parser.xml.agreement.class = eu.atos.sla.parser.xml.AgreementParser
parser.xml.template.class = eu.atos.sla.parser.xml.TemplateParser


#format for date in the template and agreement. Please check java.text.SimpleDateFormat to know the format of the string
parser.date.format = yyyy-MM-dd'T'HH:mm:ssz
#if no timezone is readed with the format, this will be the used timezone
parser.date.unmarshall.timezone = GMT
#timezone to be used to return the date values
parser.date.marshall.timezone = CET

# 
# Converter values
#

# class that parses business values in a template/agreement
converter.businessparser.class = eu.atos.sla.util.BusinessValueListParser
