server:
  applicationConnectors:
  - type: http 
    port: ${entity.port?c}
  adminConnectors:
  - type: http
    port: ${entity.adminPort?c}
deployer:
  host: ${entity.deployerHost}
  port: ${entity.deployerPort?c}
  user: ${entity.deployerUser}
  password: ${entity.deployerPassword}
monitor:
  host: ${entity.monitorHost}
  port: ${entity.monitorPort?c}
sla:
  host: ${entity.slaHost}
  port: ${entity.slaPort?c}
planner:
  host: ${entity.plannerHost}
  port: ${entity.plannerPort?c}
