<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2014 SeaClouds
 Contact: SeaClouds
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 
 -->
<web-app>

  <display-name>SeaClouds Discoverer WS Layer</display-name>
  <description>The SeaClouds's Discoverer as RESTful service</description>


  <!-- FETCH OFFERING -->
    <servlet>
        <servlet-name>discoverer_fetch_offering</servlet-name>
        <servlet-class>eu.seaclouds.platform.discoverer.ws.FetchOffer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>discoverer_fetch_offering</servlet-name>
        <url-pattern>/fetch</url-pattern>
    </servlet-mapping>


  <!-- ADD OFFERING -->
  <servlet>
	<servlet-name>discoverer_add_offering</servlet-name>
	<servlet-class>eu.seaclouds.platform.discoverer.ws.AddOffer</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>discoverer_add_offering</servlet-name>
	<url-pattern>/addoffer</url-pattern>
  </servlet-mapping>
  
  
  <!-- CRAWLER MANAGER -->
  <servlet>
  	<servlet-name>discoverer_crawler_manager</servlet-name>
  	<servlet-class>eu.seaclouds.platform.discoverer.ws.CrawlerManager</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>discoverer_crawler_manager</servlet-name>
	<url-pattern>/crman</url-pattern>
  </servlet-mapping>

</web-app>
