language: java
before_install: "git clone -b travis `git config --get remote.origin.url` target/travis"
script: if [ "$TRAVIS_BRANCH" == "master" ]; then
           mvn clean deploy --settings target/travis/settings.xml;
        else
           mvn clean install;
        fi
sudo: false

branches:
  except:
    - travis
env:
  global:
    - secure: "q6oLIb4TpyVxy6jcauijVcGkkTr3xe5dfcII5yJs48r2FzcZeAYqPvifb9G9tlOiK5igXJrEa2GmNytlI9NijOIAt8BBV34xIovwkupwJ9qGAxG2E5hHbAjGiRaICTglkH+psgaPuPe4W8UgmWCSNt9bM12F1bVHsXXftWx/880="
    - secure: "VYSXB7Myuqbkyt9vjiro09R6e44G2xAie8Q8lYfJreghp7kTIUeH3cCY9gMRb8pMiYadVtF01hzJWaf6PaApScNivmMUkvzGGvfnRX1FbBoxL9CIhkZkmofoyvqiobE4moZpDl6wje7APAch2b/D9Q4CmNQf7eBFic9XissQqA4="