<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>SeaClouds Dashboard</display-name>

    <!-- Allow live modifications to source-->
    <context-param>
        <param-name>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>org.mortbay.jetty.servlet.Default.useFileMappedBuffer</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>SensorServlet</servlet-name>
        <servlet-class>eu.seaclouds.platform.dashboard.servlets.SensorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SensorServlet</servlet-name>
        <url-pattern>/monitor/get/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MonitorServlet</servlet-name>
        <servlet-class>eu.seaclouds.platform.dashboard.servlets.MonitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitorServlet</servlet-name>
        <url-pattern>/monitor/applications</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeployerServlet</servlet-name>
        <servlet-class>eu.seaclouds.platform.dashboard.servlets.DeployerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeployerServlet</servlet-name>
        <url-pattern>/deployer/*</url-pattern>
    </servlet-mapping>

</web-app>
