<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

  <display-name>Planner servlets</display-name>
  <description>The SeaClouds' Planner as web service.</description>

  <servlet>
	<servlet-name>RESTful Planner</servlet-name>
	<servlet-class>eu.seaclouds.platform.planner.WebServiceLayer</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>RESTful Planner</servlet-name>
	<url-pattern>/service</url-pattern>
  </servlet-mapping>

</web-app>
