fieldset legend {
    font-size: 16px;
}

circle.node.running {
    stroke: #2E9E2E;
}

circle.node.starting{
    stroke: #2E9E2E;
    stroke-dasharray: 5px;
}

circle.node.on-fire{
    stroke: #F33F3F;

}

circle.node.frontend {
    stroke-width: 2px;
}

path.link.hostedon {
    stroke-dasharray: 3, 3;
}
