<div class="row">
    <div class="row">
        <div class="col-lg-5">
            <h3>
                <small>Abstract Application Model</small>
            </h3>
            <ui-codemirror class="codemirror-height-sm" ui-codemirror-opts="editorOptionsInput"
                           ng-model="$parent.matchmakerInput"></ui-codemirror>
        </div>
        <div class="col-lg-2 col-centered">
                <div  ngf-select class="btn btn-default btn-primary"  ngf-multiple="false" ng-model="matchmakerInputFile"><- Load file</div>
                <hr>
                <button class="btn btn-default btn-primary" ng-click="processAAM()"> Process -></button>
            </div>
        <div class="col-lg-5">
            <h3>
                <small>Abstract Deployment Plan</small>
            </h3>
            <ui-codemirror class="codemirror-height-sm" ui-codemirror-opts="editorOptionsOutput"
                           ng-model="$parent.matchmakerResult" disabled></ui-codemirror>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-5">
            <h3>
                <small>Optimizer ADP</small>
            </h3>
            <ui-codemirror class="codemirror-height-sm" ui-codemirror-opts="editorOptionsInput"
                           ng-model="$parent.optimizerInput"></ui-codemirror>
        </div>
        <div class="col-lg-2 col-centered">
                <div  ngf-select class="btn btn-default btn-primary"  ngf-multiple="false" ng-model="optimizerInputFile"><- Load file</div>
                <hr>
                <button class="btn btn-default btn-primary" ng-click="processADP()"> Process -></button>
        </div>
        <div class="col-lg-5">
            <h3>
                <small>Deployment Application Model Candidates</small>
            </h3>
            <ui-codemirror class="codemirror-height-sm" ui-codemirror-opts="editorOptionsOutput"
                           ng-model="$parent.optimizerResult" disabled></ui-codemirror>
        </div>
    </div>
</div>